* {
    box-sizing: border-box;
}

h1 { 
    text-align: center;
}

.Circles {
    color: black;
    display: flex;
    flex-direction: column;
}

#circlesStyle {
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
}

.Numbers {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 50%;
}


table {
    display: flex;
    flex-direction: column;
    width: 452px;
    cursor: pointer;
}


tr {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(1, 50px); 
}

tr:hover {
    background-color: gray;
}

td:hover:after{
    content: '';
    
}

td {
    display: flex;
    order: 1px solid black;
    justify-content: center;
    align-items: center;
}

table, td {
    border: 1px solid black;
}
